<!--b4-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - Nhà hàng">Nhà hàng</title>
</head>

<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Nội dung thay đổi -->
<div layout:fragment="content">
    <!-- Content sẽ được inject vào đây -->
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>